<!DOCTYPE html>
<html>
    <head>
        <style>
            h1{
                color: aqua;
                font-size: 30px;
            }
            p{
                color:blueviolet;
                font-size: 14px;
            }
        </style>
    </head>
    <body>
        <h1>Satır İçi CSS</h1>
        <p>
            Sinem Durak
        </p>
        <p>
            Kayra Kaya
        </p>
    </body>    
</html>