*{
    margin: 0;
    padding: 0;
}

.men端{
    width: 400px;
    height: 50px;
    background-color: yellow;
    margin:0 auto;
    border-bottom: 4px solid red;
}

.men端 ul li{
    float: left;
    list-style-type: none;
}

.men端 ul li a{
    color: black;
    font: 17px Arial;
    text-decoration: none;
    display: block;
    padding: 14px 15px;
}

.men端 ul li a:hover{
    background: red;
    color: blue;
}
